.edit-page .blocks .image-block {
  max-height: 7em;
  max-width: 100%; }

img.image-block.float {
  display: block;
  float: right;
  max-width: 50%;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem; }
img.image-block.block {
  display: block;
  max-width: 100%;
  margin: 1.5rem auto; }

.midnight-cms-block.image-block {
  z-index: 5; }
